


@media screen and (min-width: 800px) and (max-width: 1100px){
	
    .header{
        margin-top: 4%;
    }
	.logo{
		width: 80%; 
		display: block; 
		image-rendering: -webkit-optimize-contrast;
		margin-inline: auto;
		/* position:relative; 
		left: 54%; 
		top: 2px;  */

	}

	.men{
		width: 35%;
		display: inline-block;
		margin-inline: auto;
		margin-top:24px;		  /* position:relative;
		   left: 144%;
		    top: 26px; */
	}

	.woman{
		width: 35%;
		display: inline-block;
		margin-inline: auto;
		margin-top:24px;		  /* position:relative;
		   left: 94%;
		    top: 226px; */
	}


	.aside{
		display: block;
		 /* position: relative;
		  top: 24px;
		   left: 2%; */
	}
	.aside_movil{
		display:none;
	}
	.aside_pc{
		display:block;
	}
	.contac{
        text-align: center;
    }
    .instagram{
        text-align: center;
    }

	.cart{
		position: relative;
		top: 6px;
		left: 48%;
		margin-bottom: 8px;
        width: 5%;
	}
	#lista_art{
		position: relative;
		top: 8px; 
		left: 36%;
        width: 40%;
	}


	.article{
        display: inline;
		padding-left: 14%;
		margin-top: 3%;
        margin-bottom: 3%;
        flex-wrap: wrap;
	}
	.padre{
		display:block;
		 width:18%;
		 /* margin-inline: auto; */
		 margin:0% 1% 0% 1%;
	}

	
	.padre_global{
		display:block;
		 width:60%;
		 margin-inline: auto;
		 /* margin:0% 1% 0% 1%; */
	}
	.atras{
		height: 15%;
		position: absolute;
		left: 20.4%;
		top: 150px;
        background: url(../imagenes_predeterminadas/atras.jpeg);
        background-size: 100% 100%;
        width: 3%;
	}
	.adelante{
		height: 15%;
		position: absolute;
		right: 20.6%;
		top: 150px;
        background: url(../imagenes_predeterminadas/adelante.jpeg);
        background-size: 100% 100%;
        width: 3%;
	}
	.volver{
		width: 11%;
		position: absolute;
		left: 44.6%;
		margin-top: 1%;
	}
}
